<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>しゃべるかたつむり</title>
</head>

<body>
    <form th:action="@{/speaking-snail/output}" method="post">
        <!-- しゃべらせるテキストを入力-->
        <table>
            <tr>
                <td>
                    テキストを入れてください
                </td>
                <td>
                    <input type="text" th:field="${inputDto.speakContent}">
                </td>
            </tr>
        </table>
        <!-- 送信ボタン -->
        <input type="submit" value="送信" />
        <br>
        <!-- 吹き出し出力 -->
        <p th:if="${outputDto} != null">
            <font size="7">
                <span th:utext="${outputDto.bubbleSpeakUpper}"></span>
                <br>
                <span th:utext="${outputDto.bubbleSpeakSentence}"></span>
                <br>
                <span class="rotateX180" th:utext="${outputDto.bubbleSpeakLower}"></span>
            </font>
        </p>
        <img th:src="@{/image/snail.jpg}" alt="snail" width="250" height="130">
    </form>
</body>

</html>