<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>しゃべるかたつむり</title>
</head>

<body>
    <form th:action="@{/speaking-snail/output}" method="post">
        <!-- しゃべらせるテキストを入力-->
        <table>
            <tr>
                <td>
                    テキストを入れてください
                </td>
                <td>
                    <input type="text" th:field="${inputDto.speakContent}">
                </td>
            </tr>
        </table>
        <!-- 送信ボタン -->
        <input type="submit" value="送信" />
        <br>
        <tr th:each="speak : *{spea}">
            <img th:src="@{/image/snail.jpg}" alt="snail" width="250" height="200">
    </form>
</body>

</html>